body{
   
   background-color:gray;
   border-radius: 20px;
   border-radius: 20px;
   text-align: center;
   margin: 15%;
}
nav{
   font-size: 30px;
   color: white;
}
ul {

   color:rgb(140, 140, 199)
  
}
nav ul li{
   display: inline-block;
   text-decoration: none;
   font-size: 20px;
   font-family: cursive;
   padding: 7px 13px;
 
}
h1{
   text-align: center;

}
form{
   font-size: 20px;
   background-color: rgb(160, 160, 210);
   border-radius: 20px;
   padding-bottom: 40px;
   padding-top: 40px;
     
}

.resultat{
   padding-top: 15px;
}
input{ 
   border-radius: 20px;
   padding:20px;
   border-bottom: 2px red;
   border-top: 2px blue;
   
}
button{
   text-align: center;
   color: white;
   padding:20px ;
   border-radius: 20px;
   background-color: blue;
   margin-top:5%
}

nav a {
   display: inline-block;
   text-decoration: none;
   color: white;
   padding: 20px 30px;
   font-size: 25px;
   
}
.nav{
   display: table;
   margin: 0 auto;
}
.cadd:hover{
   background-color: rgba(252, 252, 252, 0.2);
   border-top: 8px solid white;
   
}
.csoust:hover{
   background-color: rgba(252, 252, 252, 0.2);
   border-top: 8px solid white;
}
.cmult:hover{
   background-color: rgba(252, 252, 252, 0.2);
   border-top: 8px solid white;
}
.cdiv:hover{
   background-color: rgba(252, 252, 252, 0.2);
   border-top: 8px solid white;
}
.a:hover{
   padding: 15px 30px;
}
nav li {
   float: left;
   list-style-type: none;
   
}
nav a {
   display: inline-block;
   text-decoration: none;
   color: white;
   padding: 20px 30px;
   font-size: 25px;
   
 }